<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate="1">
        
        <record id= "obarang_action_produk" model="ir.actions.act_window">
            <field name="name">Barang</field>
            <field name="res_model">obarang.barang</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Home" id="obarang.menu_utama" 
            action="obarang_action_produk"
        />
        
        <menuitem name="Barang" id="obarang.menu_barang" parent="obarang.menu_utama"
            action="obarang_action_produk"
        />

    </data>
</odoo>